
.icon-icon-calendar:before { content: '\e800'; } /* '' */
.icon-icon-clock:before { content: '\e801'; } /* '' */
.icon-icon-close:before { content: '\e802'; } /* '' */
.icon-icon-document:before { content: '\e803'; } /* '' */
.icon-icon-facebook:before { content: '\e804'; } /* '' */
.icon-icon-mail:before { content: '\e805'; } /* '' */
.icon-icon-map:before { content: '\e806'; } /* '' */
.icon-icon-meetup:before { content: '\e807'; } /* '' */
.icon-icon-menu:before { content: '\e808'; } /* '' */
.icon-icon-send:before { content: '\e809'; } /* '' */
.icon-icon-star:before { content: '\e80a'; } /* '' */
.icon-icon-alert:before { content: '\e80b'; } /* '' */
.icon-icon-back-arrow:before { content: '\e80c'; } /* '' */
.icon-plus:before { content: '\e80d'; } /* '' */
.icon-pencil:before { content: '\e80e'; } /* '' */
.icon-users:before { content: '\e80f'; } /* '' */
.icon-search:before { content: '\e810'; } /* '' */
.icon-cancel:before { content: '\e811'; } /* '' */
.icon-user:before { content: '\e812'; } /* '' */
.icon-trash-empty:before { content: '\e813'; } /* '' */
.icon-home:before { content: '\e814'; } /* '' */
.icon-power:before { content: '\e815'; } /* '' */
.icon-lock:before { content: '\e816'; } /* '' */
.icon-menu:before { content: '\f0c9';color:#11856e!important } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */